* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-green: #ffc88a;
  --dark-green: #590303;
  --white: #fff;
  --black: #000;
  --max-width: 40rem;
  --max-width-nav: 39rem;
  --white-transparency: rgba(255, 255, 255, 0.6);
  --ok-color: green;
  --notok-color: red;
}

#join {
  text-decoration: none;
  color: #fff;
}
#join:hover {
  text-decoration: underline;
  color: #fff;
}

.dark-theme {
  --light-green: #590303;
  --dark-green: #ffc88a;
  --white: #000;
  --black: #fff;
  --white-transparency: rgba(0, 0, 0, 0.6);
}

body {
  font-family: "Sansita", sans-serif;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  color: var(--black);
}

/* mobile **************************/
header,
footer {
  background-color: var(--light-green);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--black);
}

header,
main,
footer {
  max-width: var(--max-width);
  margin: auto;
}

footer {
  flex-direction: column;
}

h1,
h2 {
  font-size: 2rem;
}

nav {
  background-color: var(--dark-green);
  margin: 0 auto;
  margin-top: -25px;
  max-width: var(--max-width-nav);
}
nav ul {
  list-style-type: none;
}
nav a {
  display: block;
  color: var(--white);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

nav a:hover {
  border: 1px solid var(--white);
}

.active {
  color: yellow;
}

section h3 {
  background-color: var(--dark-green);
  color: var(--white);
  padding: 1rem;
}

.event-card {
  grid-column: 1 / -1;
}

.event-card p {
  padding: 1rem;
}

.weather-card {
  grid-column: 1 / -1;
  border: 2px solid var(--dark-green);
  border-radius: 10px;
  margin: 1rem;
  box-shadow: 1px 1px 20px var(--dark-green);
}

.member-card {
  border: 2px solid var(--dark-green);
  margin: 1rem;
  box-shadow: 1px 1px 20px var(--dark-green);
  border-style: dotted;
  grid-column: auto;
  grid-row: auto;
}

.company-name,
h4 {
  background-color: rgba(148, 91, 71, 0.4);
  padding: 0.7rem;
}
.contact-info {
  font-size: 1.1em;
}
.slogan {
  margin-top: 10px;
  font-style: italic;
}

section ul {
  padding: 1rem;
  list-style-type: none;
}

section div {
  padding: 1rem;
}

#info-box {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  text-align: center;
  align-items: stretch;
}

main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2rem;
}

main {
  display: grid;
  place-items: center;
  text-align: center;
  max-width: var(--max-width);
}

.profile-pic {
  border-radius: 50%;
  border: 2px solid var(--dark-green);
  max-width: 10rem;
  margin-bottom: 10px;
}
header h1 {
  margin: 2rem;
}

#lastModified {
  margin-top: 1rem;
  font-size: smaller;
}

#menu {
  font-size: 1.5rem;
  border: 4px solid var(--dark-green);
  border-radius: 50%;
  background-color: var(--light-green);
  color: var(--black);
  top: auto;
  left: auto;
  width: 50px;
  height: 50px;
  margin-top: -50px;
  margin-left: 5px;
  box-shadow: 1px 1px 20px var(--dark-green);
}

#menu::before {
  content: "☰";
  color: var(--black);
  text-align: center;
  margin: auto;
  text-decoration: none;
}

#menu.open::before {
  content: "❌";
  color: var(--black);
  text-align: center;
  margin: auto;
  text-decoration: none;
}

.navigation span {
  display: none;
}

#dark-mode {
  position: absolute;
  top: 0;
  right: 0;
}

#dark-mode img {
  border-radius: 5%;
  max-height: 4rem;
}

#hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px;
  max-width: 100%;
  border: 2px solid var(--dark-green);
  overflow: hidden;
}
.hero-img {
  display: flex;
  max-width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

#hero-title {
  grid-column: 1/4;
  grid-row: 3/4;
  font-size: 3em;
  color: white;
  font-family: "Dancing Script", "Leckerli One";
  text-shadow: 2px 2px #4b0082;
  background-color: rgba(148, 91, 71, 0.4);
}
#hero-text {
  grid-column: 2/4;
  grid-row: 3/4;
  margin-right: 50px;
  font-size: 2em;
  color: white;
  font-family: "Monserrat Light", "Ibarra Real", Helvetica;
  text-align: right;
  text-shadow: 3px 3px #0c6b04;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 30px;
  margin-bottom: 30px;
}
#dot {
  text-align: center;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slideshow-container {
  position: relative;
  grid-column: 1/4;
  grid-row: 1/4;
  z-index: -1;
}

.mySlides {
  display: none;
}

.logo {
  max-width: 10rem;
  padding-left: 0px;
}

.discover-main-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.discover-main-grid img {
  width: 100%;
  height: auto;
  display: block;
}
.discover-column1,
.discover-column2 {
  position: relative;
  top: 0px;
  left: 0px;
}

.caption {
  position: absolute;
  font-style: italic;
  color: var(--black);
  top: 10px;
  left: 10px;
  background-color: var(--white-transparency);
  padding: 5px;
}
.dicover-image-container {
  height: auto;
}

/*------------------------ FORM   ------------------------------------------*/
form fieldset {
  margin: 2rem 0;
  border: 3px solid var(--dark-green);
  border-radius: 10px;
  padding: 4% 6% 10% 6%;
}

form legend {
  color: var(--dark-green);
  padding: 0.5rem;
}

form label.reg-form,
form div {
  display: block;
  padding-top: 1rem;
  color: var(--dark-green);
  font-size: 0.8rem;
}

form label.reg-form input {
  -webkit-appearance: none;
  display: block;
  font: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: var(--black);
  width: 100%;
  max-width: 20rem;
  background-color: rgba(204, 250, 210, 0.4);
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

form label.reg-form textarea {
  -webkit-appearance: none;
  display: block;
  font: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: var(--black);
  width: 100%;
  min-height: 7rem;
  max-width: 20rem;
  background-color: rgba(204, 250, 210, 0.4);
}
form label {
  text-align: left;
}

form input.submitBtn {
  border: none;
  background-color: var(--dark-green);
  color: var(--white);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0 2rem;
  width: 94%;
  max-width: 20rem;
}

form label.reg-form input:required {
  border-left: var(--notok-color) solid 6px;
}

form label.reg-form input:required:valid {
  border-left: var(--ok-color) solid 4px;
}

#fname:invalid,
#lname:invalid,
#title:invalid,
#email:invalid,
#phone:invalid,
#org:invalid {
  animation: shake 0.3s;
}

@keyframes shake {
  25% {
    transform: translate(4px);
  }
  50% {
    transform: translate(-4px);
  }
  75% {
    transform: translate(4px);
  }
}

.plan label:hover {
  background-color: var(--light-green);
}

.plan input[type="radio"] {
  visibility: hidden;
}
/*I hope it is ok to hide the radio item :)*/

input[type="radio"]:checked + label {
  box-shadow: 0 0 0 3px var(--light-green);
  background-color: var(--light-green);
}

.plan-name {
  font-size: 1rem;
  font-weight: bolder;
}
.plan label {
  margin: 5px 0;
  max-width: 20rem;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--dark-green);
  max-width: 20rem;
  line-height: 1.5rem;
}

.plan strong {
  font-size: larger;
}

.submitBtn:hover {
  background-color: var(--light-green);
  color: var(--black);
}

/*////////  Directory /////////////////////////*/
.grid .weblink {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--dark-green);
  color: var(--white);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}
.grid .weblink:hover {
  background-color: var(--light-green);
  color: var(--black);
}

.line {
  width: 80%;
  height: 1px;
  background-color: var(--dark-green);
  margin: 20px auto;
  position: relative;
}
.switch-mode {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--dark-green);
  color: var(--white);
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
}
.switch-mode:hover {
  background-color: var(--light-green);
  color: var(--black);
}

/*//// grid classes  //*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 10px;
  align-items: center;
  max-width: 20rem;
}

.grid section {
  text-align: center;
  margin: 10px;
}

.grid img {
  border: 1px solid #fff;
  box-shadow: 0 0 10px #333;
  max-width: 20rem;
  height: auto;
}

.grid section > * {
  margin: 0.1rem;
}
/*//// list classes  //*/

.list {
  display: flex;
  flex-direction: column;
}

.list .address {
  display: none;
}

.list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
}

.list section > * {
  margin: 0 1rem;
}

.list section img {
  display: none;
}

.list section h3 {
  font-size: 1rem;
}

.list section:nth-child(even) {
  background-color: var(--light-green);
  color: var(--black);
}

.list .address {
  display: none;
}

#forecast-temp {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
}
