form fieldset {
  margin: 2rem 0;
  border: 3px solid var(--dark-green);
  border-radius: 10px;
  padding: 4% 6% 10% 6%;
}

form legend {
  color: var(--dark-green);
  padding: 0.5rem;
}

form label.reg-form,
form div {
  display: block;
  padding-top: 1rem;
  color: var(--dark-green);
  font-size: 0.8rem;
}

form label.reg-form input {
  -webkit-appearance: none;
  display: block;
  font: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: var(--black);
  width: 100%;
  max-width: 20rem;
  background-color: rgba(204, 250, 210, 0.4);
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

form label.reg-form textarea {
  -webkit-appearance: none;
  display: block;
  font: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: var(--black);
  width: 100%;
  min-height: 7rem;
  max-width: 20rem;
  background-color: rgba(204, 250, 210, 0.4);
}
form label {
  text-align: left;
}

form input.submitBtn {
  border: none;
  background-color: var(--dark-green);
  color: var(--white);
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 2rem 0 2rem;
  width: 94%;
  max-width: 20rem;
}

form label.reg-form input:required {
  border-left: var(--notok-color) solid 6px;
}

form label.reg-form input:required:valid {
  border-left: var(--ok-color) solid 4px;
}

#fname:invalid,
#lname:invalid,
#title:invalid,
#email:invalid,
#phone:invalid,
#org:invalid {
  animation: shake 0.3s;
}

@keyframes shake {
  25% {
    transform: translate(4px);
  }
  50% {
    transform: translate(-4px);
  }
  75% {
    transform: translate(4px);
  }
}

.plan label:hover {
  background-color: var(--light-green);
}
/*
.plan input[type="radio"] {
  visibility: hidden; 
}
/*I hope it is ok to hide the radio item :)*/
/*
.plan label:hover {
  background-color: var(--light-green);
}*/

.plan label input:hover {
  background-color: var(--light-green);
}
.plan label input#silver[type="radio"]:checked {
  background-color: red;
}

.plan-name {
  font-size: 1rem;
  font-weight: bolder;
}
.plan {
  margin: 5px 0;
  max-width: 20rem;
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: var(--dark-green);
  max-width: 20rem;
}
.plan p {
  margin-top: 0.4rem;
}
